{
    "extends": [
        "standard",
        "prettier",
        "airbnb"
    ],
    "plugins": [
        "import",
        "prettier",
        "airbnb"
    ],
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "rules": {
        "space-before-function-paren": 0,
        "new-cap": 0,
        "prettier/prettier": 2,
        "semi": 1
    }
}